html,
body {
  position: relative;
  display: flex;
  flex-direction: column;

  margin: 0;
  height: 100%;
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header {
  background-color: #f9f2ed;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 36px;
}
.main {
  position: relative;
}
.info {
  height: 6vh;
  display: flex;
  justify-content: space-around;
  background-color: #d2d5d0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.info [class*="-count"] {
  font-size: 17px;
}
.info [class*="-count"]:hover {
  font-style: italic;
}
.info div {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

#add-book,
#delete-all {
  border-radius: 10px;
  border: 1px solid rgb(128, 127, 140);
  cursor: pointer;
  outline: none;
  display: block;
  margin-left: 10px;
  width: 100px;
  height: 30px;
  font-size: 17px;
}
#add-book:hover {
  background-color: rgb(144, 255, 144);
  box-shadow: 2px 2px 3px gray;
}
#delete-all:hover {
  background-color: rgb(251, 175, 175);
}

.add-book-form {
  visibility: hidden;
  border: 2px solid black;
  display: flex;
  padding-bottom: 4px;
  flex-direction: column;
  width: 300px;
  height: 300px;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 1vh auto;
  /* background-color: #e3dad4; */
  background:linear-gradient(to bottom right , rgb(190, 217, 245) , rgb(245, 160, 147));

  border-radius: 10px;
}
.add-book-form input {
  padding: 3px 8px;
}

.add-book-form input,
.add-book-form button {
  border-radius: 5px;
  border: none;
  border: 1px solid black;
}

.new-book {
  position: relative;
  margin: 4%;
  font-size: 20px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
}
form .input,
.status-form {
  margin: 13px;
  text-align: center;
}
input:focus {
  border: 1px solid rgb(32, 27, 28);
  box-shadow: 1px 1px 2px gray;
}
form .input input {
  height: 20px;
  width: 95%;
  outline: none;
  font-size: 16px;
}
.status-form {
  font-size: 16px;
  width: max-content;
}
form .done {
  text-align: center;
}
form button {
  width: 30%;
  height: 30px;
  font-size: 17px;
  cursor: pointer;
}

form button:hover{
  box-shadow: 1px 1px 5px rgb(165, 164, 164);
}

.container {
  background: url("https://img.freepik.com/free-photo/pink-sky-background-with-crescent-moon_53876-129048.jpg?w=2000");
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.book-data {
  display: flex;
  flex-direction: column;
  margin: 20px auto;

  width: 80%;

  flex-grow: 1;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}
thead th:nth-child(1) {
  width: 10%;
}
thead th:nth-child(2) {
  width: 40%;
}
thead th:nth-child(3) {
  width: 30%;
}
thead th:nth-child(4) {
  width: 15%;
}
thead th:nth-child(5) {
  width: 15%;
}

table img#trash {
 display: block;
 margin-left: 1vw;
  cursor: pointer;
}

th,
td {
  border: 1px solid black;
}

th {
  font-size: large;
  padding: 5px;
  height: 5vh;
  background-color: #f9f2ed;
  letter-spacing: 2px;
}
td {
  line-height: 35px;
  padding: 3px;
  letter-spacing: 1px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: rgb(236, 239, 234);
}
tbody tr:nth-child(odd) {
  background-color: #ffffff;
}


/* status */
.status {
  cursor: pointer;
}
.Read {
  background-color: rgb(125, 243, 131);
}
.Unread {
  background-color: rgb(253, 155, 70);
}

.footer {
  background-color: #f9f2ed;
  border-top: 1px solid purple;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: monospace;
  height: 2.8rem;
  font-size: larger;
}

.footer img {
  width: 24px;
  margin-top: 5px;
}
